@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: #4f5665;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
  color: #4f5665;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}
button {
  font-family: 'Rubik', sans-serif;
}
.bold-font,
h1,
h2,
h3,
h4 {
  color: #0b132a;
}
.regular {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

/* ==== bcg gradient ==== */

.bcg-wrapper {
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

/* ========== HEADER ========== */

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header--container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header {
  background-color: white;
  position: sticky;
  z-index: 2;
  top: -1px;
  padding-top: 1px;
  transition: 0.3s ease;
}
.header-shadow {
  box-shadow: 0px 5px 24px -16px rgba(0, 0, 0, 0.7);
  opacity: 0.98;
}
.logo-link {
  display: flex;
}
.logo-link img {
  align-self: center;
  margin-right: 10px;
}
.header-sign-buttons {
  display: flex;
}
.header-menu {
  display: flex;
}
.header-li {
  padding: 13px 20px;
  color: #4f5665;
}
.header-li,
.header-sign-buttons button {
  font-size: 1.6rem;
}
.header-brand--p {
  font-size: 2rem;
  margin: 0;
  align-self: center;
  font-weight: 500;
  user-select: none;
}
.header-brand--span {
  font-weight: bold;
}
.header-sign-in {
  background-color: inherit;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}
.header-sign-up {
  align-self: center;
  color: #f53855;
  background-color: inherit;
  border: 1px solid #f53855;
  border-radius: 50px;
  height: 45px;
  width: 150px;
  transition: 0.3s;
  margin-left: 30px;
  font-weight: 500;
}
.header-sign-up:hover {
  color: white;
  background-color: #f53855;
}
.header-sign-in:hover {
  color: #f53855;
}
.header-li--link {
  transition: 0.3s;
}
.header-li--link:hover {
  color: #f53855;
}

/* ========== HERO ========== */

.hero--container {
  margin-top: 80px;
  display: flex;
  margin-bottom: 100px;
}

.hero--title {
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.hero--title--span {
  font-weight: bold;
}
.hero--paragraph {
  font-size: 1.6rem;
  margin-bottom: 50px;
  line-height: 3rem;
}
.hero--paragraph--span {
  font-weight: bold;
}
.hero--btn {
  width: 250px;
  height: 60px;
  font-size: 1.6rem;
  border-radius: 10px;
  font-weight: 700;
}
.btn {
  background-color: #f53838;
  border: none;
  color: white;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 15px 15px #f538384b;
}
.hero--img {
  max-width: 550px;
}

/* ========== USERS ========== */

.users--container {
  display: flex;
  align-items: center;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgb(192 192 192 / 90%),
    0 20px 35px rgb(192 192 192 / 50%);
}
.users--item {
  width: calc(100% / 3);
  display: flex;
  min-height: calc((125 / 200) * 100%);
  justify-content: center;
}
.users--item:nth-child(2) {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}
.users--item img {
  align-self: center;
  margin-right: 36px;
}
.users--text {
  align-self: center;
}
.users--bold {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}
.users--regular {
  font-size: 20px;
  margin: 0;
}

/* ========== FEATURES ========== */

.container--features {
  padding-top: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 130px;
}
.features--img {
  padding-top: 15px;
  padding-left: 30px;
}
.features--right-content {
  margin-left: 170px;
}
.features--list {
  padding: 0;
}
.features--li {
  display: flex;
}
.features--li img {
  margin-right: 10px;
  align-self: center;
}
.features--benefits-p {
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 400;
}
.features--title {
  padding-right: 30px;
  margin-bottom: 20px;
  font-size: 3.5rem;
  line-height: 5rem;
  font-weight: 500;
}

/* ========== PRICING ========== */

.pricing {
  padding-top: 80px;
}

.tariff-plan--heading,
.tariff-plan-regular {
  text-align: center;
}
.tariff-plan--heading {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 5rem;
  margin-bottom: 20px;
}
.tariff-plan-regular {
  padding: 0 25%;
  margin-bottom: 60px;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
.tariff-plan---card {
  justify-content: flex-start;
  background-color: white;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.tariff-plan---card:hover {
  border-color: #f53838;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content--lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content > img {
  margin-top: 80px;
}
.tariff-plan---card:not(:nth-child(3)) {
  margin-right: 50px;
}
.card-list {
  padding: 0;
}
.card-li {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin: 10px 0;
  line-height: 3rem;
}
.card-button {
  margin: 0 75px;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 178px;
  height: 45px;
  border: 2px solid #f53838;
  color: #f53838;
  background-color: white;
  border-radius: 50px;
  font-size: 1.6rem;
  font-weight: 700;
}
.card-button:hover {
  background-color: #f53838;
  color: white;
}
.card--title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

.card-li p {
  padding-left: 20px;
  margin: 0;
}
.fa-check {
  color: #2fab73;
}
.card-p {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
}

/* ========== NETWORK ========== */
.network {
  margin-bottom: -60px;
}
.network-text {
  text-align: center;
  margin-bottom: 155px;
}
.network-title {
  margin: 0 0 20px 0;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 5rem;
}
.network-regular {
  width: 50%;
  margin: 0 auto;
}
.network-span {
  font-weight: 500;
}
.network-img {
  width: 100%;
  margin-bottom: 35px;
}
.network-brandbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ========== FEEDBACKS ==========  */
.feedbacks {
  padding-top: 120px;
}
.feedbacks-text {
  text-align: center;
}

.feedbacks-title {
  font-size: 3.5rem;
  line-height: 5rem;
  font-weight: 500;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.feedbacks-regular {
  margin: 0 auto;
  width: 50%;
}

.feedbacks-slide-container {
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.feedbacks-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-width: 400px;
  height: 230px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 60px;
}

.feedbacks-card--header {
  display: flex;
  justify-content: space-between;
}
.feedbacks-card {
  margin-right: 60px;
}
.feedbacks-card:last-child {
  margin-right: 0;
}
.feedbacks-card--user {
  display: flex;
  justify-content: space-between;
}
.feedbacks-card--user img {
  align-self: center;
  margin-right: 20px;
}

.feedbacks-card--header--text > p:first-child {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  margin: 0;
}
.feedbacks-card--header--text > p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}

.fa-star {
  color: rgb(254, 162, 80);
  padding-left: 10px;
}
.feedbacks-card--text {
  margin: 0;
  font-size: 1.6rem;
}
.feedbacks--header--rating {
  align-self: flex-start;
}

.feedbacks-slide--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.dots {
  display: flex;
}

.dot {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50px;
  background-color: #dde0e4;
  cursor: pointer;
  transition: 0.2s;
}

.arrow-buttons .btn {
  background-color: #fcfcfc;
  color: #f53838;
  border: 2px solid #f53838;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  transition: 0.3s;
}
.arrow-buttons .btn:nth-child(2) {
  margin-left: 20px;
}
.arrow-buttons .btn:hover {
  color: white;
  background-color: #f53838;
}
.selected-card {
  border-color: #f53838;
  box-shadow: 0px 35px 37px -20px rgba(34, 60, 80, 0.2),
    0px -15px 37px -23px rgba(34, 60, 80, 0.2);
}
.selected-dot {
  background-color: #f53838;
}

/* ========== SUBSCRIBE ========== */

.subscribe-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
  position: relative;
  top: 120px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 63px -20px #0d102531;
}
.subscribe-text {
  flex-basis: 40%;
}
.subscribe-p {
  margin-bottom: 0;
}
.subscribe-title {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4.5rem;
}
.subscribe-button {
  align-self: center;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

/* ========== FOOTER ========== */

.footer {
  background-color: #f8f8f8;
  padding-top: 180px;
  padding-bottom: 100px;
}
.footer > .container {
  display: flex;
}
.footer-right {
  width: 570px;
  display: flex;
  justify-content: space-between;
}
.footer-p {
  margin: 0 0 30px 0;
  width: 50%;
}
.footer-logo {
  display: flex;
  margin-bottom: 20px;
}
.footer-logo img {
  margin-right: 10px;
}
.footer-list {
  padding: 0;
}
\ .icons {
  margin-bottom: 30px;
}
.icons a {
  margin-right: 20px;
  position: relative;
}
.icons a img {
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 13px 18px rgb(17 19 35 / 8%);
}
.icons a img:hover {
  outline: 2px solid #f53838;
}
.icons a::before {
  content: '';
  background-color: #f53838;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  bottom: 8px;
  left: 4px;
}
.copyright {
  color: #afb5c0;
}
.footer-list-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}
.footer-li {
  margin-bottom: 10px;
}
.footer-li a {
  transition: 0.3s;
}
.footer-li a:hover {
  color: #f53838;
}
